/*
#applicationmenu-button { background-color: #d08770; } 

#pulseaudio-button, #xfce4-power-manager-plugin, 
#xfce4-notification-plugin, #sn-button { background-color: #4c566a; } */

/* window button width - a high number fills the available space */
.tasklist { -XfceTasklist-max-button-length: 2500; }

.tasklist button:hover { color: white; background-color: #2e3440; }

#xfce-panel-toggle-button:checked, .tasklist button:checked {
    color: white;
    background-color: #4c566a;
    font-weight: bold;
}

#clock-button, #actions-button {
    color: white;
    font-weight: bold;
    padding: 5px;
}

#clock-button { background-color: #5e81ac; }

#actions-button { background-color: #bf616a; }
